<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <main>
        <h3><%= bookdetails.title %></h3>
        <img src="<%= bookdetails.image_url %>">
        <h3><%= bookdetails.publication_year %></h3>
        <p><%= bookdetails.description %></p>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

</body>

</html>
