<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <main>
        <h2>Shelf Configuration</h2>
        <p>Pick your owned books shelf or create a new one</p>
        <form action="/set-profile" method="post">
        <% for(var i=0; i < usershelf.length; i++) { %>
        <input type="radio" name="<%= usershelf[i].name %>" value="<%= usershelf[i].name %>">
            <label for="<%= usershelf[i].name %>"><%= usershelf[i].name %></label>
            <% } %>
        <input type="radio" name="legacy-owned" value="legacy-owned">
        <label for="legacy-owned">Legacy Owned Books feature</label>
        <input type="text" name="new-owned-shelf" value="new-owned-shelf">
        <label for="new-owned-shelf"></label>
        <input type="submit">
        </form>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

</body>
</html>
