<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <main>
        <h2>Profile</h2>
        <h3>Your Books</h3>
        <% for(var i=0; i < userbooklist.length; i++) { %>
        <a id="<%= userbooklist[i].book.id._ %>" href="/book">
            <img class="book-result" src="<%= userbooklist[i].book.image_url %>">
            <% } %>
        </a>
        <h3>Profile Configuration</h3>
        <p>Pick your owned books shelf or create a new one</p>
        <form>
        <option value="Read">Read
        </option>
            Legacy Owned Books feature
        </form>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

</body>
</html>
