<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <main>

        <ul>
            <% bookresult.forEach(function(book) { %>
            <li>
                Title: <%= book.best_book.title %> -
                Author: <%= book.best_book.author.name %> -
                Publication Year: <%= book.original_publication_year._ %> -
                <img src="<%= book.best_book.image_url %>">
                Average Rating: <%= book.average_rating %> </li>
            <% }); %>
        </ul>

    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

    <script src=""></script>
</body>

</html>
